<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  type="text/css" rel="stylesheet" href="../css/login.css">
    <title>更改个性签名</title>
</head>
<body>
<div id="main">
    <div id="top">
            <span id="Dengtitle">更改个性签名</span
            ><span id="x"><a href="/index">x</a></span>
    </div>
    <form action="/ChangeSignature/Create" method="post">
        <p class="tishi1">请输入个性签名</p>
        <input type="text" placeholder="    请输入个性签名" id="zhanghao" name="ChangeSignature" required>
        <br>
        <input type="submit" id="denglu" value="更改">
    </form>
</div>
</body>
</html>