<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  type="text/css" rel="stylesheet" href="../css/login.css">
    <title>更改密码</title>
</head>
<body>
<div id="main">
    <div id="top">
            <span id="Dengtitle">更改密码</span
            ><span id="x"><a href="/index">x</a></span>
    </div>
    <form action="/ChangePassword/Create" method="post">
        <p class="tishi1">请输入密码</p>
        <input type="password" placeholder="    请输入密码" id="zhanghao" name="ChangePassword" required>
        <p class="tishi2">
                <span id="mi1">请再次输入密码</span
                ></p>
        <input type="password" placeholder="    请再次输入密码" id="mima" name="ChangePasswordAgain" required>
        <br>
        <input type="submit" id="denglu" value="更改">
    </form>
</div>
</body>
</html>