<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link  type="text/css" rel="stylesheet" href="../css/login.css">
    <title>主页</title>
</head>
<body>
<h1>{{.Title}}</h1>
{{if.VisterOK}}
<a href="/Login"><input type="submit" id="denglu" value="登录"></a>
{{end}}
{{if.LoginOK}}
<br>
<a href="/ChangeName"><input type="submit" id="draw" value="更改名称"></a>
<br>
<a href="/ChangePassword"><input type="submit" id="upload" value="更改密码"></a>
<br>
<a href="/ChangeSignature"><input type="submit" id="draw" value="更改个性签名"></a>
{{end}}
<br>
<a href="/LeaveMessage"><input type="submit" id="liuyan" value="留言"></a>
<br>
<a href="/Past"><input type="submit" id="chakan" value="查看留言墙(维护中)"></a>
</body>
</html>