<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  type="text/css" rel="stylesheet" href="../css/login.css">
    <title>留言</title>
</head>
<body>
<div id="main">
    <div id="top">
            <span id="Dengtitle">留言</span
            ><span id="x"><a href="/index">x</a></span>
    </div>
    <form action="/LeaveMessage/Create" method="post">
        <p class="tishi1">请输入留言内容</p>
        <textarea placeholder="    请输入留言内容" id="zhanghao" name="LeaveMessage" rows="30" cols="30" required ></textarea>
        <p class="tishi1">请选择回复的留言的ID(若没有则无需填写)</p>
        <input type="number" name="PreviousFloor" min="1" id="PreviousFloor">
        <br>
        <p class="tishi1">是否匿名(1为是，0为否)</p>
        <input type="number" min="0" max="1" name="If_anonymity" required>
        <br>
        <p class="tishi1">对谁可见(0为任何人)</p>
        <input type="number" min="0" name="authorityId">
        <input type="submit" id="denglu" value="留言">
    </form>
</div>
</body>
</html>