<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>上传文件</title>
</head>
<body>
<form action="/upload/Create" method="post">
    <p class="tishi3">作品名</p>
    <input type="text" placeholder="    请输入作品名" id="zhanghao" name="name" required>
    <p class="tishi4">
                <span id="mi1">简介</span
                ></p>
    <input type="text" placeholder="    请输入简介" id="mima" name="brief" required>
    <br>
    <br>
    <input type="file" name="image" required>
</form>
<br>
<a href="/index"><input type="button" value="返回主页"></a>
</body>
</html>